html {
  background-color: #efefef;
}

#main {
  width: 100%;

  /*background-color: #F3FFC6;*/
  display: grid;
  font-family: "Abel";

  grid-template-columns: 100%;
  grid-template-rows: 10vh 100vh auto auto;

  grid-template-areas:
    "navbar"
    "welcome"
    "all-projects"
    "footer";
}

#navbar {
  display: flex;
  /*flex-direction: row;*/
  background-color: #26dfd0;
  position: fixed;
  z-index: 1;
  width: 100%;
  grid-area: navbar;
}
#projects {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.project-tile img {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}
.project-tile h3 {
  font-weight: 200;
  font-size: 25px;
}
#welcome-section h1 {
  width: 100%;
  color: #b6174b;
  height: 100%;
  margin-top: 50vh;
  font-size: 50px;
  font-weight: 200;
  /*background-color: grey;*/
}
#welcome-section {
  height: 100vh;
  text-align: center;
  width: 100%;
}
welcome {
  grid-area: welcome;
  color: red;
  width: 100%;
}

#all-projects h2 {
  font-size: 40px;
  font-weight: 2.5;
  color: #b6174b;
}
#all-projects {
  width: 100%;
  height: auto;
  grid-area: all-projects;
  text-align: center;
}
.card {
  width: 100%;
  padding-bottom: 40px;
}
.tab-button {
  border-radius: 10px 80px 0px 0px;
  border-style: none;
  width: 200px;
  height: 80px;
  color: black;
  font-family: "Abel";
  text-align: center;
  font-size: 30px;
  padding-right: 30px;
  color: white;
  font-weight: 200;
  /*border-bottom: 3px solid white;*/
}
.tab-buttons {
  margin-bottom: 0px;
}
#QA-button {
  background-color: #b8ee30;
}
#apis-button {
  background-color: #f62aa0;
}
#front-end-button {
  background-color: #f9d030;
}
#QA {
  background-color: #ddf79c;
}
#apis {
  background-color: #fcbfe2;
}
#front-end {
  background-color: #fce797;
}

.showcase {
  width: 100%;
  display: grid;

  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  /*background-color: orange;*/
}

.project-tile {
  /*background-color: pink;*/
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  font-weight: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 7px 3px #626262;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: orange;*/
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 20px;
}
li a:hover {
  background-color: #a9a9a9;
}
.card p {
  margin-bottom: 50px;
  font-size: 20px;
}
#footer {
  grid-area: footer;
  text-align: center;
  color: #a9a9a9;
}
#footer p {
  padding: 20px;
  background-color: #26dfd0;
  color: #306b34;
  font-size: 20px;
}
#footer a {
  color: #306b34;
  margin-left: 40px;
  
  text-decoration: none;
}
footer img {
  width: 25px;
  margin-right: 10px;
  vertical-align: sub;
}

@media (max-width: 650px) {
  #navbar li a {
    padding: 20px 30px;
  }
  #footer a {
    padding: 20px 30px;
  }
  #welcome-section {
    /* margin-top: 120px;*/
  }
}
