html {
  background-color: #efefef;
}

#main {
  width: 100%;
  font-family: verdana, sans-serif;
  /*background-color: #F3FFC6;*/
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 10vh 100vh auto auto;

  grid-template-areas:
    "navbar"
    "welcome"
    "all-projects"
    "footer";
}

#navbar {
  display: flex;
  /*flex-direction: row;*/
  background-color: #1c5253;
  position: fixed;
  z-index: 1;
  width: 100%;
  grid-area: navbar;
}

.project-tile img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 10px grey;
}

#welcome-section h1 {
  width: 100%;
  color: #b6174b;
  height: 100%;
  margin-top: 30vh;
  font-size: 50px;
  font-weight: 450;
  background-color: grey;
}
#welcome-section {
  height: 100vh;
  text-align: center;
  width: 100%;
}
welcome {
  grid-area: welcome;
  color: red;
  width: 100%;
}

#all-projects h2 {
  font-size: 30px;
  font-weight: 2.5;
  color: #b6174b;
}
#all-projects {
  width: 100%;
  height: auto;
  background-color: blue;
  grid-area: all-projects;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.tab-button{
  border: 3px solid black;
  border-style: solid solid solid solid;
  width: 150px;
  border-bottom: 3px solid white;
}
#QA-button{
  background-color: red;
}
#apis-button{
  background-color: green;
}
#front-end-button{
  background-color: yellow;
}
#QA {
  background-color: white;
}
#apis {
  background-color: white;
}
#front-end{
  background-color: white;
}
.showcase {
  width: auto;
  display: grid;
  border: 2px solid black;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /*background-color: orange;*/
}
.project-tile h3 {
  font-weight: 2.5;
  font-size: 20px;
  color: black;
}
.project-tile {
  background-color: pink;
  width: 25%;
  font-weight: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: orange;*/
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}
li a:hover {
  background-color: #a9a9a9;
}

#footer {
  grid-area: footer;
  text-align: center;
  color: #a9a9a9;
}
#footer p {
  background-color: #c3eb78;
  color: #306b34;
  font-size: 20px;
  padding: 30px 40px;
}
#footer a {
  color: #306b34;
  padding: 30px 40px;
  text-decoration: none;
}

@media (max-width: 650px) {
  #navbar li a {
    padding: 20px 30px;
  }
  #footer a {
    padding: 20px 30px;
  }
  #welcome-section {
    /* margin-top: 120px;*/
  }
}
