:root {
  --text-color: #e0e0df;
  --background-color: #2b2b2b;
  --background-color2: #121212;
  --navbar-height: 80px;
  --blue-black:#010B13;
  --electric-magenta: #FF00FF;
  /* Electric Magenta */
  --aqua-cyan: #00FFFF;
  /* Aqua Cyan */
  --bright-yellow: #FFFF00;
  /* Bright Yellow */
  --pure-blue: #0000FF;
  /* Pure Blue */
  --classic-silver: #C0C0C0;
  /* Classic Silver */
  --teal: #008080;
  /* Teal */
  --purple: #800080;
  /* Purple */
  --soft-coral: #FF8080;
  /* Soft Coral */
  --neon-green: #39FF14 ; /* Neon Green (classic “laser” green) */
  --pure-lime: #00FF00;  /* Pure Lime (web-safe green) */
  --acid-green: #66FF00;  /* Acid Green */
  --spring-green: #00FF7F;  /* Spring Green */
}

body {
  font-family: "Abel";
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-black);
  height: 100vh;
  align-items: center;
}
#navigation{
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 3;
  height: var(--navbar-height);
  border-bottom: 2px solid var(--classic-silver);
  box-sizing: border-box;
  background-color: var(--blue-black);
}
#navbar {
  height: 100%;
}
#navbar ul {
  height: 100%;
  margin:0%;
  padding:0%;
  list-style-type: none; 
}
#navbar li {
  height: 100%;
  float: left;
  border-right: 2px solid var(--classic-silver);
}
#navbar li a {
  display:flex;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  font-family: "Abel";
  height:100%;
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
li a:hover {
  background-color: var(--background-color2);
}

.square-small {
  box-sizing: border-box;
  background-color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  border-radius: 5px;
  border: 2px solid brown;
}
.square-big {
  box-sizing: border-box;
  background-color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  display: flex;
  border-radius: 5px;
  border: 2px solid brown;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;

  background-color: red;
}
.rectangle {
  box-sizing: border-box;
  background-color: white;
  width: 100px;
  height: 200px;
  border: 2px solid brown;
  border-radius: 5px;
  position: absolute;
  display: flex;
}
.rectangle-hor {
  box-sizing: border-box;
  background-color: white;
  width: 200px;
  height: 100px;
  border: 2px solid brown;
  border-radius: 5px;
  position: absolute;
  display: flex;
}

#board {
  background-color: brown;
  width: 400px;
  height: 500px;
  position: absolute;
}
