<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./simon-s-game.css" />
    <link rel="stylesheet" href="./../../global.css" />
    <title>Play Simon's Game</title>
</head>

<body>

    <div id="navigation"></div>
    <div id="main">
  <div id="simon">
    <button id="0" class="tl" @click="addToUserSequence(0)"></button>
    <button id="1" class="tr" @click="addToUserSequence(1)"></button>

    <button id="2" class="bl" @click="addToUserSequence(2)"></button>
    <button id="3" class="br" @click="addToUserSequence(3)"></button>
    <div id="commands-container">
      <div id="commands">
        <div class="flex-row">
          <div id="score"><span>{{score}}</span></div>
          <button id="start" @click="start">start</button>

        </div>

        <div id="level-slider"><label>Level</label>
          <input min="1" max="4" id="level" type="range" v-model="level" @change="updateLevel" list="levels" :disabled="started"></input>
          <datalist id="levels">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4"></option>

          </datalist>
        </div>
        <div class="flex-column">
          <span>Strict</span><label class="switch">
            <input id="strict" type="checkbox" v-model="strict"></input>
            <span class="slider round"></span>
          </label>
        </div>

      </div>

    </div>
  </div>
  <dialog :open="won">You won!</dialog>
</div>
       
    </div>
</body>
  <script type="module" src="./simonsGame.js"></script>
</html>