:root {
    --package-height: 300px;
    --package-width: 300px;
    --package-color: color-mix(in srgb, var(--color-accent-4) 50%, var(--color-bg));
    --package-color-side: color-mix(in srgb, var(--package-color) 90%, black);
    --package-color-top: color-mix(in srgb, var(--package-color) 90%, white);
    --ribbon-color: color-mix(in srgb, var(--color-primary) 60%, var(--color-bg));
    --ribbon-middle: calc(var(--package-height) / 12);
    --ribbon-half: calc((var(--package-width) - var(--ribbon-middle)) / 2);  /* = 230px */
    --ribbon-sides: calc(var(--ribbon-half) - var(--ribbon-middle) * 2);          /* = 190px */
    --ribbon-height: 50px;
    --ribbon-holes-height: calc(var(--ribbon-height) / 3);                   /* = 33.33px */
    --ribbon-holes-width: calc(var(--ribbon-sides) - var(--ribbon-holes-height) * 2); /* = 123.33px */
    --lid-height:  calc( var(--package-height) / 4);
   --total-dial-numbers: 99;       
   --dial-radius: 200px;  
  
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

#packages-container{
    margin-top: var(--navbar-height);
    width:50%;
    display:flex;
    justify-content: center;
}

#solution-container{
    margin-top: var(--navbar-height);
    width: 50%;
    height: 70vh;
    border: 1px solid var(--color-secondary);
}

.package {
  height: var(--package-height);
  width: var(--package-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: var(--package-shadow);
}
.ribbon {
  display: flex;
  justify-content: center;
  align-items: end;
  filter: var(--ribbon-shadow);
}
.ribbon-middle {
  width: var(--ribbon-middle);
  height: var(--ribbon-middle);
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--ribbon-color);
}

.ribbon-left {
  height: var(--ribbon-height);
  width: var(--ribbon-sides);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--ribbon-color);
  border: 1px solid black;
  border-radius: 50px 70px 5px 50px;
}
.hole-left {
  height: var(--ribbon-holes-height);
  width: var(--ribbon-holes-width);
  background-color: var(--color-bg);
  border: 1px solid black;
  border-radius: 50px 100px 15px 50px;
  box-shadow: var(--hole-shadow);
}

.ribbon-right {
  height: var(--ribbon-height);
  width: var(--ribbon-sides);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ribbon-color);
  border: 1px solid black;
  border-radius: 70px 50px 50px 5px;
}
.hole-right {
  height: var(--ribbon-holes-height);
  width: var(--ribbon-holes-width);
  background-color: var(--color-bg);
  border: 1px solid black;
  border-radius: 100px 50px 50px 15px;
  box-shadow: var(--hole-shadow);
}

.lid {
  width: 100%;
  height: var(--lid-height);
  background-color: var(--package-color-top);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-shadow: var(--package-inset-top);
}

.lid .ribbon-vertical {
  width: calc(var(--ribbon-middle) * 2);
  height: var(--lid-height);
  background-color: var(--ribbon-color);
  border: 1px solid black;
}

.bottom {
  width: 95%;
  height: calc( var(--package-height) - var(--ribbon-height) - var(--lid-height));
  background-color: var(--package-color-side);
  display: flex;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  box-shadow: var(--package-inset-side);
}
.bottom .ribbon-vertical {
  width: calc(var(--ribbon-middle) * 2);
  height: calc( var(--package-height) - var(--ribbon-height) - var(--lid-height));
  background-color: var(--ribbon-color);
  border: 1px solid black;
}
.bottom button {
  width: 100px;
  height: 50px;
  position:absolute;
  top: 60px;
  left: calc( var(--package-width) / 2 + var(--ribbon-middle))
}
.open{
  transform: translateY(100px);
  transition: transform 0.5s ease;
}

.close{
  transform: translateY(0px);
  transition: transform 0.5s ease;
}

ul {
  list-style: none;
}



.dial {
  position: relative;
  width: calc(var(--dial-radius) * 2);
  height: calc(var(--dial-radius) * 2);
  border-radius: 50%;
  background-color: var(--color-secondary);
}
.dial-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px;
  
  
  color: white;
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  font-weight: 600;
  
--angle: calc(360deg / var(--total-dial-numbers) * var(--i));
  
  transform: 
    rotate(var(--angle))           /* Rotate to position */
    translateX(var(--dial-radius))      /* Move away from center */
    rotate(calc(-1 * var(--angle))); /* Rotate back */
}